* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: rgb(255, 252, 245);
}


.transition{
    opacity: 1 !important;
    filter: blur(0) !important;
    transform: translateY(0) !important;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}
@media(prefers-reduced-motion){
    .hidden{
        transition:none;
    }
}
@media (max-width: 500px) {
    .hidden {
            transition: none;
        }
}


/*LINKS IN CENTER*/
.nav-links li{
    list-style: none;
}
.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    position: relative;
}
.nav-links li a::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(205, 116, 0);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-links li a:hover::after {
    transform: scaleX(1);
}



/*GIT and LINKENID*/
.web-links li{
    list-style: none;
}



/*Whole Nav*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    z-index: 999;
    background-color: rgb(255, 252, 245);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.nav-bar .logo-name{
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;

}
.nav-bar .logo-name a{
    text-decoration: none;
    color:black;
}
.nav-bar {
    width: 100%;
    height: 60px;
    max-width: 1920;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .nav-links ul{
    display: flex;
    gap: 2rem; 
}
.nav-bar .nav-links ul li a{
    font-size: 30px;
}
.nav-bar .toggle-btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.nav-bar .web-links {
    padding: 0.5 1px;
    border: none;
    outline: none;
    font-weight: bold;
}
.nav-bar .web-links ul{
    display: flex;
    gap: 1.5rem;
}
.nav-bar .web-links img{
    height: 30px;
    width: 30px;
}
.nav-bar .web-links {
    scale: 1.05;
}


/*Dropdown*/
.dropdown {
    display: none;
    position:absolute;
    right:2rem;
    top:70px;
    width: 300px;
    height: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown li {
    list-style: none;
}
.dropdown-logos {
    display: inline;
}
.dropdown li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    position: relative;
}

.nav-links li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(205, 116, 0);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-links li a:hover::after {
    transform: scaleX(1);
}
.nav-links li a.active::after {
    transform: scaleX(1);
}


.dropdown.show{
    height:280px;
}
.dropdown li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown img {
    height: 30px;
    width: 30px;
}

@media (max-width: 992px) {
    .nav-bar .nav-links,
    .nav-bar .web-links {
        display: none;
    }
    .nav-bar .toggle-btn {
        display: block;
    }
    .dropdown {
        display: block;
        
    }
}
@media (max-width: 500px) {
.dropdown {

        width: 90%;

    }

}



#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(205, 116, 0);
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    font-size: 18px;
}

#myBtn:hover {
    background-color: black;
    transform: translateY(-3px);
}




.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}
.wrapper h1{
    color: rgb(205, 116, 0);
}
.wrapper h2 {
    color: rgb(205, 116, 0);
}





.s-one {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}

.s-one .s-one-img img {
    max-width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 20px;
}

.s-one .s-one-text {
    text-align:left;
}

.s-one .s-one-text h1 {
    font-size: 8rem;
    margin-top: 20px;
}

/* Slideshow styles */
.slideshow {
    margin-top: -80px;
    grid-column: span 2;
    text-align: center;
}

.slideshow-text {
    font-size: 2rem;
    opacity: 1;
    animation: fadeInOut 8s infinite ease-in-out;
    overflow: hidden;
    transition: opacity 0.8s ease;
}

.slideshow:hover .slideshow-text {
    opacity: 1;
}

@keyframes fadeInOut {

    0%,
    5%,
    95%,
    100% {
        opacity: 0;
    }

    15%,
    85% {
        opacity: 1;
    }
}

@media (max-width: 1280px) {
    .s-one .s-one-img img {
        height: 350px;
        width: 350px;
        margin-left: 80px;
    }

    .s-one .s-one-text h1 {
        font-size: 5rem;
    }

.slideshow-text {
    font-size: 1.5rem;
}
                .slideshow-text {
                    margin-top: -120px;
                }
}

@media (max-width: 992px) {
    .s-one {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        /* Change to create a single column */
        align-items: center;
        text-align: center;
    }

    .s-one .s-one-img img {
        max-width: 100%;
        /* Ensure the image scales within the container */
        height: auto;
        /* Maintain aspect ratio */
        margin-left: 0;
        /* Remove the left margin */
    }

    .s-one .s-one-text {
        text-align: center;
        /* Center the text */
    }

    .s-one .s-one-text h1 {
        margin-top: -120px;
        /* Add some top margin for spacing */
        font-size: 4rem;
    }

    .slideshow {

        text-align: center;
        margin: 0 auto;
        grid-column: span 1;
        /* Ensure the slideshow takes full width */
    }
        .slideshow-text {
            margin-top: -140px;
        }
}
@media (max-width: 400px) {
    
        .s-one .s-one-img img {

                    height: 300px;
                        width: 300px;
        }
    
        .s-one .s-one-text h1{
            font-size: 1rem;
        }
    
        .s-one .s-one-text h1 {
            margin-top: -120px;
            /* Add some top margin for spacing */
            font-size: 4rem;
        }

    .slideshow-text {
        display: none;
    }
}









.s-two{
    min-height: 100vh;
    height: auto;
        display: grid;
        align-items: center;
        text-align: right;
        margin: 20px 20px;

}
                
.s-two .s-two-img img {
    height: 500px;
    border-radius: 10%;    
}
.s-two .s-two-text h2 {
            line-height: 1.3;
            padding-bottom: 20px;
            font-size: 3.4rem;
            text-align: justify;
}
.s-two .s-two-text h3 {
                    line-height: 1.2;
                    padding-bottom: 15px;
                    font-size: 2rem;
                    text-align: justify;
}
.s-two .s-two-text p{
            line-height: 2;
            text-align: justify;
            font-size: 1.4rem;
}
.s-two .s-two-text ul li{
    line-height: 2;
    font-size: 1.4rem;
    list-style-type: circle;
    text-align: left;
}

@media (max-width: 800px) {
    .s-two {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        text-align: center;
        position: relative;
        /* Set the container to relative position */
    }
    .s-two .s-two-img img {

        grid-row: 1 / span 1;
        width: 100%;
    }
    .s-two .s-two-text {
        grid-row: 1 / span 1;
    }
}



.s-three{
    min-height: 100vh;
        display: grid;
        grid-template-columns: 9% 90%;
        align-items: center;


}
.s-three-text{
    transform: rotate(-90deg);
}
.s-three-logo-container{
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap:10rem;
    padding:100px;
}



.s-three-logo-container > * {
flex-shrink: 0;
justify-content: space-evenly;
flex-direction: row;
}
.s-three-logo-container img{
    height: 150px;
    width: 150px;
}
@media (max-width: 1500px) {
.s-three-logo-container img {
        height: 100px;
        width: 100px;
    }
        .s-three-logo-container {
            gap: 10rem;
            padding: 50px;

        }
}
@media (max-width: 1090px) {


    .s-three-logo-container {
        gap: 5rem;
        padding: 20px;

    }
}
@media (max-width: 770px) {
    .calendar{
        display: none;
    }
    .git{
        display: inline;
        grid-column: span 2;
        display: flex;
            justify-content: center;
            align-items: center;
    }
        .git img{
            width: 100px;
            height:100px;
            
        }
}
@media (max-width: 600px) {
    .s-three-logo-container img {
        height: 60px;
        width: 60px;
    }

    .s-three-logo-container {
        gap: 3rem;
        padding: 50px;

    }
}


/* Work/Experience */
#experience.s-four {
    min-height: 100vh;
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 20px auto;
}

/* Section Heading Styles */
.section-heading {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Content Container Styles */
.content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.content-container img {
    max-width: 100%;
    border-radius: 8px;
}

.content-details {
    flex: 1;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .content-container {
        flex-direction: column;
    }
}




/* footer */
                .footer {
                    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
                    padding: 40px 20px;
                    text-align: center;
                    position: relative;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
        
                .footer-section {
                    margin-bottom: 20px;
                    font-size: 20px;
                    color: black;
                    text-decoration: none;
                }
        
                .footer-heading {
                    font-size: 20px;
                    margin-bottom: 10px;
                    color: #333;
                }
                .footer a {
                    
                    margin: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    transition: background-color 0.3s ease-in-out;
                }
        
                .footer a:hover {
                    color: #c4830b;
                }
                .footer a img {
                    width: 30px;
                    height: auto;
                    margin: 10px;
                    border-radius: 50%;
                }
        
                /* Add responsiveness using media queries */
                @media (max-width: 768px) {
                    .footer {
                        padding: 30px 15px;
                        /* Adjust padding for smaller screens */
                    }
                }