* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: rgb(255, 252, 245);
}


.transition{
    opacity: 1 !important;
    filter: blur(0) !important;
    transform: translateY(0) !important;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}
@media(prefers-reduced-motion){
    .hidden{
        transition:none;
    }
}


/*LINKS IN CENTER*/
.nav-links li{
    list-style: none;
}
.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    position: relative;
}
.nav-links li a::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(205, 116, 0);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-links li a:hover::after {
    transform: scaleX(1);
}



/*GIT and LINKENID*/
.web-links li{
    list-style: none;
}



/*Whole Nav*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    z-index: 999;
    background-color: rgb(255, 252, 245);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.nav-bar .logo-name{
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}
.nav-bar .logo-name a{
    text-decoration: none;
    color:black;
}
.nav-bar {
    width: 100%;
    height: 60px;
    max-width: 1920;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .nav-links ul{
    display: flex;
    gap: 2rem; 
}
.nav-bar .nav-links ul li a{
    font-size: 30px;
}
.nav-bar .toggle-btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.nav-bar .web-links {
    padding: 0.5 1px;
    border: none;
    outline: none;
    font-weight: bold;
}
.nav-bar .web-links ul{
    display: flex;
    gap: 1.5rem;
}
.nav-bar .web-links img{
    height: 30px;
    width: 30px;
}
.nav-bar .web-links {
    scale: 1.05;
}


/*Dropdown*/
.dropdown {
    display: none;
    position:absolute;
    right:2rem;
    top:70px;
    width: 300px;
    height: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown li {
    list-style: none;
}
.dropdown-logos {
    display: inline;
}
.dropdown li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    position: relative;
}

.nav-links li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(205, 116, 0);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-links li a:hover::after {
    transform: scaleX(1);
}
.nav-links li a.active::after {
    transform: scaleX(1);
}


.dropdown.show{
    height:290px;
}
.dropdown li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown img {
    height: 30px;
    width: 30px;
}




/*CSS Whole Nav RESPONSIVE*/
@media (max-width: 992px) {
    .nav-bar .nav-links,
    .nav-bar .web-links {
        display: none;
    }
    .nav-bar .toggle-btn {
        display: block;
    }
    .dropdown {
        display: block;
        
    }
}

.progress-bar {
    height: 4px;
    background: orange;
    width: 0%;
    padding:0;
    margin:0;
}



#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(205, 116, 0);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* add greater width */
    width: 50px;
    /* Some padding */
    border-radius: 100%;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}
#myBtn:hover {
    background-color: black;
    /* Add a dark-grey background on hover */
}
.back_to_top:hover i {
    transform: translateY(-3px);
}




.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}




.wrapper h1{
    color: rgb(205, 116, 0);
}
.wrapper h2 {
    color: rgb(205, 116, 0);
}





.s-one{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; 
}
.s-one .s-one-img img{
    height: 500px;
    border-radius: 50%;
}
.s-one .s-one-text h1{
    font-size: 7rem;
}
.s-one .s-one-text h2 {
    font-size: 2rem;
    color: black;
}


/*CSS Whole Nav RESPONSIVE*/
@media (max-width: 992px) {
    .s-one .s-one-img img {
        height: 300px;
        border-radius: 50%;
    }

    .s-one .s-one-text h1{
        font-size: 70px;
    }
}
@media (max-width: 760px) {
    .s-one {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        text-align: center;
        position: relative;
    }
    .s-one .s-one-img img {
        height: 280px;
        border-radius: 50%;
        grid-row: 1 / span 1;
        margin-top: -12rem;
    }
    .s-one .s-one-text{
        grid-row: 1 / span 1;
        position: absolute;
        top: 76%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .s-one .s-one-text h1 {
        font-size: 4rem;
    }
}

.s-one .slideshow {
    font-size: 24px;
    margin-top: -8rem;
    grid-column: span 2;
    text-align: center;
    color: #333;
    /* Adjust color as needed */
}

.s-one .slideshow {
    font-size: 24px;
    margin-top: -6rem;
    /* Adjust margin-top value */
    grid-column: span 2;
    text-align: center;
    color: #333;
    /* Adjust color as needed */
}

.slideshow{
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}
.slideshow-text {
    opacity: 0;
    animation: fadeInOut 8s infinite ease-in-out;
    /* Adjust animation duration and timing function */
    animation-fill-mode: forwards;
    padding: 15px;
    /* Adjust padding for better spacing */
    background-color: rgba(255, 255, 255, 0.8);
    /* Adjust background color transparency */
    border-radius: 10px;
    /* Add rounded corners for a softer look */
    
    /* Add a subtle box shadow */
    overflow: hidden;
    /* Ensure text doesn't overflow */
}

@keyframes fadeInOut {

    0%,
    5%,
    95%,
    100% {
        opacity: 0;
    }

    15%,
    85% {
        opacity: 1;
    }
}



.s-two{
    min-height: 100vh;
    height: auto;
        display: grid;
        align-items: center;
        text-align: right;
        margin: 20px 20px;

}
                
.s-two .s-two-img img {
    height: 500px;
    border-radius: 10%;    
}
        .s-two .s-two-text h2 {
            line-height: 1.3;
            padding-bottom: 20px;
            font-size: 3.4rem;
            text-align: justify;
        }
                .s-two .s-two-text h3 {
                    line-height: 1.2;
                    padding-bottom: 15px;
                    font-size: 2rem;
                    text-align: justify;
                }
        .s-two .s-two-text p{
            line-height: 2;
            text-align: justify;
            font-size: 1.4rem;
        }
@media (max-width: 800px) {
    .s-two {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        text-align: center;
        position: relative;
        /* Set the container to relative position */
    }
    .s-two .s-two-img img {

        grid-row: 1 / span 1;
        width: 100%;
    }
    .s-two .s-two-text {
        grid-row: 1 / span 1;
    }
}



.s-three{
    min-height: 100vh;
        display: grid;
        grid-template-columns: 9% 90%;
        align-items: center;


}
.s-three-text{
    transform: rotate(-90deg);
}
.s-three-logo-container{
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap:10rem;
    padding:100px;
}
.calendar{
    width:100% !important;
    grid-column: span 2;
}


.s-three-logo-container > * {
flex-shrink: 0;
justify-content: space-evenly;
flex-direction: row;
}
.s-three-logo-container img{
    height: 150px;
    width: 150px;
}
.git{
    display: none;
    grid-column: span 2;
}
@media (max-width: 1500px) {
.s-three-logo-container img {
        height: 100px;
        width: 100px;
    }
        .s-three-logo-container {
            gap: 10rem;
            padding: 50px;

        }
}
@media (max-width: 1090px) {


    .s-three-logo-container {
        gap: 5rem;
        padding: 20px;

    }
}
@media (max-width: 770px) {
    .calendar{
        display: none;
    }
    .git{
        display: inline;
        grid-column: span 2;
        display: flex;
            justify-content: center;
            align-items: center;
    }
        .git img{
            width: 100px;
            height:100px;
            
        }
}
@media (max-width: 600px) {
    .s-three-logo-container img {
        height: 60px;
        width: 60px;
    }

    .s-three-logo-container {
        gap: 3rem;
        padding: 50px;

    }
}



.s-four{
    min-height: 100vh;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        text-align: left;
        line-height: 1.6;
        place-items: center;
}
.s-four .card {
    color:white;
    background-image: url(images/temp.jpg);
    background-size: COVER;
    padding: 15rem 1rem 1rem;
    max-width: 45ch;
    font-size: 1rem;
    border-radius: .5rem;
    overflow: hidden;

    transition: transform 500ms ease;
}
.s-four .card:hover{
    transform: scale(1.05);
}

.s-four .card h2{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.s-four .card-content {
    padding: 1em;
    background: linear-gradient(
        hsl(0 0% 0% / 0.1),
        hsl(0 0% 0% / 0.5));

    transform: translateY(77%);
    transition: transform 500ms ease;
}
.s-four .card:hover{
    transform: scale(1.05);
}
.s-four .card:hover .card-content{
    transform: translateY(0);
    transition-delay: 500ms;
}
.s-four .card-content p{
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: .7;
}
.card-title{
    position: relative;
    max-width: fit-content;
}
.s-four .card-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background:rgb(205, 116, 0);
    width:100%;
    transform: scaleX(0);

    transform-origin: left;

    transition: transform 500ms ease;
}
.card:hover .card-title::after {
    transform: scaleX(1);
}
.s-four .button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: rgb(205, 116, 0);
    border-radius: 5px;
    padding: 0.5em 1.55em;
}
.s-four .button:hover,
.s-four .button:focus
{
    background-color: rgb(255, 255, 255);
}

.title {
    font-size: 5rem;
}








/* MY CONTACT ME STUFF */

.s-five{
    min-height: 100vh;
        height: auto;
        display: grid;
        align-items: center;
        text-align: center;
}
label {
    display: block;
    margin-top: 32px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 22px;
    color:rgb(205, 116, 0);
}
input,
textarea {
    width: 80%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 4px;
    font-size: 20px;
}
textarea {
    height: 120px;
    resize: none;
}
.btn_submit {
    background-color: rgb(205, 116, 0);
    color: black;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
}
.btn_submit:hover {
    background-color: white;
}
@media (max-width: 400px) {

    input,
    textarea {
        width: 60%;
        padding: 10px;
        border: 2px solid grey;
        border-radius: 4px;
        font-size: 1em;
    }
}



/* footer */
footer {
    background-color: black;
    color: white;
    height: 90px;
}
footer h2{
    color:white;
            text-align: center;
            padding-top: 30px;
}
